@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@500&family=Public+Sans:wght@300;400;700&family=Roboto:wght@500&family=Young+Serif&display=swap');
*{
    text-transform: capitalize;
    font-family: 'Montserrat';
    /* color: #fff; */
}
body{
   /* background-image: url("assets/img/blog/img.jpg") ; */
/* background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); */
/* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% ); */

/* background-image: linear-gradient( 109.6deg,  rgba(254,253,205,1) 11.2%, rgba(163,230,255,1) 91.1% ); */
background-color: #2a4889;
/* background-color:rgba(254,253,205,1) ; */
color: #fff;
}
.container h2{
    font-size: 3.9rem;
    padding-bottom: 1.125rem;
    font-family: 'Young serif', serif;
}
.lead{
    font-family: 'Public Sans',serif;
    font-size: 1.2rem;
    text-transform: none;
}
.btn{
background-color: #a41240;
/* background-color: #176B87; */
/* background-color: #547fc8; */
color: #fff;
font-weight: 500;
}
footer p{
    color: #fff;
}
